<ion-view title="Create New account">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Name" ng-model=user.name>
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Pass" ng-model=user.password>
            </label>
            <button class="button button-full button-balanced" ng-click="signup()">
                Sign-up
            </button>
           
        </div>
</ion-view>